﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@ViewBag.Cabecalho</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conhecendo</h2>
        <p>@ViewBag.ConteudoConhecendo</p>
        <p><a class="btn btn-default" href="https://meusite">@ViewBag.BotaoConhecendo  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais e mais</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://meusite">Saiba mais. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://meusite">Saiba mais. &raquo;</a></p>
    </div>
</div>